body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*
#chart,
#chart-0 {
    width: 320px;
    height: 200px;
}

#chart-0, {
    width: 320px;
    height: 350px;
}*/

.chart1 {
  height:30vh; width:50vw;
}

.chart2 {
  height:10vh; width:30vw;
}

.label {
    text-align: center;
    width: 600px;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.chart_container {
    float: left;
}
